{% extends 'games/base.html' %}
{% block content %}
<div class="about-container mt-5 mx-auto">
	<div class="month">
		<h2 class="container-fluid text-center month-header">It's a me, Marcos!</h2>
		<div class="container-fluid grey-background">
			<div class="m-4">
  				<p class="aboutp"> I'm a IT student from Spain and this is actually my first personal (serious) project as a developer. Not long ago I  read somewhere (probably <a href="http://dev.to" target="_blank">dev.to</a>) that we developers shouldn't aim high when learning new things and I thought that this would be a perfect fit. </p>
				<p class="aboutp">If you want to contact me for whatever the reason you can use the <a href="/contact/">contact form</a> or reach me via <a href="http://twitter.com/marcosorive" target="_blank">twitter.</a> You can also find me in <a href="https://github.com/marcosorive">github</a> , although it's a bit empty right now I'm working on some things to make it look better.<br><br>
				I also want to leave here what I've learnt building The Nintendo Switch calendar:</p>
				<ul class="aboutp">
				<li>
					A lot of css and specifically the W3.css framework. But I'm still a noob in terms of design.
				</li>
				<li>
					How to develop and deploy a (super) simple Django site. That includes working with views and templates, which I've never done before this. 
				</li>
				<li>
					Basics in terms of webapps security, I guess? I'm not sure about that, time will tell. If you hack me pls change this to make sure I realize it.
				</li>
				</ul>

			<p class="aboutp">Oh, last but not least. I gotta thank my friend <a href="https://hectorcarral.com/">Héctor</a>, who helped me with the desing and css. He basically transformed the calendar from engineer looking to designer looking (even though he's also a engineer). </p>
		  	<br> <p class="aboutp">Thanks for reading. Cheers!</p>
			<p class="aboutp">Oh btw! I've opened a <a href="https://paypal.me/pools/campaign/108879366574016191">paypal pool</a>  so if anyone wants to donate some money to help me pay the costs it would be gladly accepted :)</p>
			</div>	
		</div>  
	</div> 		
</div>

	

</div>
{% endblock %}