{% extends 'games/base.html' %}
{% block content %}

<div class="container-fluid row mt-4">
	<div class="container-fluid month-container col-md-6 col-sm-12">
		<div class="month">
			<h2 class="container-fluid text-center month-header">Something went wrong.</h2>
			<div class="grey-background">
				<div class="my-3">
				I'm really sorry. If the error persits try reaching me via <a href="https://twitter.com/marcosorive" class="blue-text">twitter</a>
				</div>
			</div>
		</div>
	</div>		
</div>	
			
{% endblock %}